<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <ion-buttons slot="start"> </ion-buttons>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>
<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content>
  <!-- Sort | Category | Search -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="swap-vertical" slot="start"></ion-icon>
          <ion-select placeholder="Name (A-Z)" interface="popover">
            <ion-select-option> Name (A-Z) </ion-select-option>
            <ion-select-option> Name (Z-A) </ion-select-option>
            <ion-select-option> Created at (oldest first) </ion-select-option>
            <ion-select-option> Created at (newest first) </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="pricetag" slot="start"></ion-icon>
          <ion-select placeholder="Category">
            <ion-select-option role="option"> Category </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input placeholder="Search"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Expense list -->
  <ion-list inset="true">
    <!-- Skeleton -->
    <ng-container>
      <ion-item> Item 1 </ion-item>
      <ion-item> Item 2 </ion-item>
      <ion-item> Item 3 </ion-item>
    </ng-container>
  </ion-list>

  <!-- fab button to open Modal-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<!-- ------- -->
<!-- Footer -->
<!-- ------- -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="addMonths(-1)">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ date | date: 'MMMM yyyy' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addMonths(1)">
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
