<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-progress-bar *ngIf="submitting" type="indeterminate"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>Add Expense</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="ExpenseForm.pristine || ExpenseForm.invalid || submitting">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding" [formGroup]="ExpenseForm">
  <!-- Name -->
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input
      formControlName="name"
      type="text"
      placeholder="Enter the expense's name"
      required="true"
      maxlength="40"
      [disabled]="submitting"
    ></ion-input>
  </ion-item>
  <!-- CategoryID -->
  <ion-item>
    <ion-icon name="pricetag" slot="start"></ion-icon>
    <ion-select
      formControlName="categoryID"
      interface="popover"
      placeholder="choose a category"
      [disabled]="submitting"
    >
      <ion-select-option *ngFor="let category of categories">{{ category.name }}</ion-select-option>
    </ion-select>
    <ion-button slot="end" (click)="showCategoryModal()">
      <ion-icon slot="icon-only" name="add"> </ion-icon>
    </ion-button>
  </ion-item>
  <!-- Amount -->
  <ion-item>
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-input
      formControlName="amount"
      placeholder="Enter the amount in CHF"
      required="true"
      type="number"
      [disabled]="submitting"
    >
    </ion-input>
    <ion-note slot="end"> CHF </ion-note>
  </ion-item>
  <!-- Date -->
  <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-datetime-button datetime="datetime"> </ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          formControlName="date"
          presentation="date"
          id="datetime"
          [disabled]="submitting"
          value=""
        ></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
</ion-content>
