<ion-grid>
  <ion-row>
    <ion-col class="ion-text-start">
      <!-- Align the content to the start (left) in this column -->
      <ion-list>
        <ion-item>
          <ion-button>
            <ion-icon name="close-outline"></ion-icon>
            Logout
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-list>
        <ion-item>
          <ion-header>Add category</ion-header>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col class="ion-text-end">
      <ion-list>
        <ion-item>
          <ion-button>
            <ion-icon name="save-outline"></ion-icon>
            Save
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content></ion-content>
